
/*---colors---*/

$colors:(
    pre:#d3ae87,
    deu:#1b1b1b,
    tro:#161616,
    qua:#fff,
    sin:rgb(156, 156, 156),
    six:grey,

);

@function color($color-name) {
    @return map-get($colors, $color-name);
};

