        /*--------------- subscribe section starts  --------------- */
    


        .subscribe {
            background: color(tro);
            overflow: hidden;
            .subscribe-data {
                max-width: 650px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                .sec-heading h1 {
                    color: color(qua);
                    margin-bottom: 40px;
                }
            }
            .input-subsc {
                display: flex;
                @include iphon-x() {
                    flex-direction: column;
                }
                .input-form {
                    text-transform: uppercase;
                    height: 50px;
                    border-color: color(qua);
                    border-radius: 0 !important;
                    text-align: center;
                    flex: 1 1 auto;
                    margin-bottom: 0px;
                    &:focus {
                        box-shadow: none !important;
                        border: none !important;
                    }
                    @include iphon-x {
                        margin: 0 50px;
                    }

                }
                ::placeholder {
                    letter-spacing: 4px;
                    padding: 5px 10px;
                }
                span .btn {
                    min-height: 50px;
                    padding: 0 30px;
                    border-radius: 0;
                    background: #000;
                    color: color(qua);
                    font-size: 12px;
                    font-weight: bolder;
                    text-transform: uppercase;
                    font-family: 'Poppins' sans-serif;
                    letter-spacing: 2px;
                    &:hover {
                        opacity: 0.1;
                    }
                }
                
            }

        }