@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

html, body {
    cursor:  url(img/cursor.png), auto !important
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Darker Grotesque" !important;
    text-decoration: none;
    
}

/*--Fichier to import--*/

@import "colors";
@import "variables";

/*--Fichier to import--*/

/*---class to extend--*/

%button-basic {
    background: none;
    border: .3pt solid rgba(184, 140, 93, 0.7);
    text-transform: uppercase !important;
    font-size: 16px !important;
    letter-spacing: 2px;
    padding: 18px 36px;
}

/*---class to extend--*/


/*--media query--*/


@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

/*--media query--*/




.wrapper {

    .video-container {
        position: $abs;
        width: $every;
        height: $thing;
        overflow: hidden;

        &::after {
            content: "";
            position: $abs;
            top: 0;
            left: 0;
            width: $every;
            height: $thing;
            background: #1b1b1b;
            opacity: 0.8;
        }
            video {
                object-fit: cover;
                width: 100vw;
                height: $thing;
                position: $abs;
                top: 0;
                left: 0;
            }
    }

    .header {
        display: flex;
        flex-direction: column;
        position: $abs;
        top: $center;
        left: $center;
        transform: translate(-$center, -$center);

        h1 {
            color: color(pre);
            font-size: 80px !important;
            text-align: center;

            @include mobile {
                font-size: 34px !important;
                text-align: center;
            }
        }
        #btn {
            @extend %button-basic ;
            color: color(pre);
            font-weight: bolder;
            margin-top: 100px;

            @include mobile {
                padding: 10px 20px;
            }
        }

    }
    
}