@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

html, body {
    cursor:  url(../img/cursor.png), auto !important
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Darker Grotesque" !important;
    text-decoration: none;
    
}

/*--Fichier to import--*/

@import "colors";
@import "variables";

/*--Fichier to import--*/

/*---class to extend--*/

%button-basic {
    background: none;
    border: .3pt solid rgba(184, 140, 93, 0.7);
    text-transform: uppercase !important;
    font-size: 16px !important;
    letter-spacing: 2px;
    padding: 18px 36px;
}
%munu {
    position: $abs;
    right: 40px;
    top: 20px;
    font-weight: 900;
    color: color(pre);
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    width: 30px;
    height: 30px;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

/*---class to extend--*/


/*--media query--*/


@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$mobile}) {
        @content;
    }
}

@mixin iphon-x {
    @media (max-width:#{$iphon-x}) {
        @content;
    }
}

/*--media query--*/




.wrapper {

    /*---------------  header section  --------------*/
    .video-container {
        position: $abs;
        width: $every;
        height: $thing;
        overflow: hidden;

        &::after {
            content: "";
            position: $abs;
            top: 0;
            left: 0;
            width: $every;
            height: $thing;
            background: color(deu);
            opacity: 0.8;
        }
            video {
                object-fit: cover;
                width: 100vw;
                height: $thing;
                position: $abs;
                top: 0;
                left: 0;
            }
    }

    .header {
        display: flex;
        flex-direction: column;
        position: $abs;
        top: $center;
        left: $center;
        transform: translate(-$center, -$center);

        h1 {
            color: color(pre);
            font-size: 80px !important;
            text-align: center;

            @include mobile {
                font-size: 34px !important;
                text-align: center;
            }
        }
        #btn {
            @extend %button-basic ;
            color: color(pre);
            font-weight: bolder;
            margin-top: 100px;
            cursor: pointer;

            @include mobile {
                padding: 10px 20px;
            }
        }

    }

    /*---------------  navigation  --------------- */ 

    .nav {
        width: $every;
        height: 80px;
        position: fixed;
        z-index: 2;
        
        &.scrolled {
            background-color: color(tro) !important;
            transition: background-color 500ms linear;
      }

        #brand {
            @include mobile {
                margin-left: -20px;
            }
            img {
            float: left;
            display: block;
            margin-left: 50px;
            width: 40px;
            height: 40px;
            top: 20px;
            position: $abs;
            
            @include mobile{
                width: 35px;
                height: 35px;
            }
            }
        }    
         #menu {
            float: left;
            right: 50px;
            position: fixed;

            @include mobile {
                    display: none;
            }

            li {
                padding-left: 40px;
                display: inline-block;
                font-weight: lighter !important;
                text-transform: uppercase;
                font-size: 17px;
                line-height: 80px;
                position: relative;
                transition: $ease-out;
                

                a {
                    font-weight: 900;
                    color: color(sin);
                    transition: $ease-out;
                    

                    &:hover {
                        text-decoration: none;
                        color: color(qua);
                        transition: $ease-out;
                    }
                }

            }
        }
        #nav-resp {
            @extend %munu;
            cursor: pointer;

            @include mobile {
                visibility: visible;
                opacity: 1;
                margin-top: 10px;
                margin-right: 20px;
            }

        }
        
    }

    #resize {
        z-index: 2;
        top: 0px;
        position: fixed;
        background: #0f0f0f;
        width: $every;
        height: $every;
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-out;

        @include desktop {
            visibility: hidden !important;
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
        .close-btn {
            position: $abs;
            right: 40px;
            font-weight: 900;
            color: color(qua);
            text-transform: uppercase;
            letter-spacing: 2px;
            z-index: 2;
            line-height: 80px;
            cursor: pointer;
        }
        #menu {
            height: 90px;
            position: $abs;
            left: 45%;
            transform: translateX(-40%);
            text-align: center;
            display: table-cell; 
            vertical-align: center;
            li {
                display: block;
                text-align: center;
                padding: 10px 0;
                font-size: 50px;
                text-transform: uppercase;
                min-height: 50px;
                font-weight: bold;
                transition: all 0.3s ease-out;
                &:nth-child(1) {
                    margin-top: 140px;
                }
                a {
                    font-size: 15px;
                    font-family: "Poppins" !important;
                    font-weight: lighter !important;
                    color: color(sin) ;
                    transition: $ease-out;
                   
                    &:hover {
                        text-decoration: none;
                        color: color(qua);
                        transition: $ease-out;
                    }
                }
                
            }
        }
        
    }

    /*---------------  about section starts  --------------- */

    .content {
    position: $abs;
    width: $every;
    margin-top: $thing;
    
        .about {
            padding: 140px 0;

            .container-about {
                @include iphon-x {
                    text-align: center;
                    
                }
            }

            .row { 
                width: $every;
            
                .sec-number {
                    color: color(pre);
                    font-weight: bolder;
                    font-size: 20px;
                    font-family: "Poppins" !important;
                }
                .sec-heading {
                    color: color(six);
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-size: 18px;
                    padding: 0 !important ;
                    font-weight: 800; 

                    @include iphon-x {
                        font-weight: 600;
                        margin-top: 20px;
                    }
                    
                }
                .sec-sub {
                    color: color(six);
                    margin: 10px 0 10px 10px;
                    h1 {

                        @include iphon-x {
                            font-size: 30px;
                            margin: 20px 20px;

                        }
                    }
                    #W img {
                            width: 35px;
                            height: 32px;

                            @include iphon-x {
                                width: 25px;
                                height: 25px;
                            }
                    }
                }
                .sec-support {
                    font-size: 24px;
                    color: color(six);
                    margin-left: 12px;
                    
                    @include iphon-x {
                        font-size: 20px;
                        margin: 0 60px;
                    }
                }
                .more {
                    margin: 40px 0;
                    padding: 0 !important ;
                    button {
                        @extend %button-basic;
                        margin-left: 18px;
                        font-weight: 600;
                        @include iphon-x {
                           margin-right: 18px;
                           padding: 10px 50px;

                           
                        }
                    }
                }
            }
        }
    }
}