@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

html, body {
    cursor:  url(../img/cursor.png), auto !important
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Darker Grotesque" !important;
    text-decoration: none;
    
}

section {
    padding: 140px 0;
}


/*--Fichier to import--*/

@import "colors";
@import "variables";

/*--Fichier to import--*/

/*---class to extend--*/

%button-basic {
    background: none;
    border: .3pt solid rgba(184, 140, 93, 0.7);
    text-transform: uppercase !important;
    font-size: 16px !important;
    letter-spacing: 2px;
    padding: 18px 36px;
}
%munu {
    position: $abs;
    right: 40px;
    top: 20px;
    font-weight: 900;
    color: color(pre);
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    width: 30px;
    height: 30px;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}
%project-x {
        font-family: "Roboto Mono" sans-serif;
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 4px;
        position: relative;
        color: color(qua);
        display: block;
        right: 0;
        bottom: 0;
}
%sec-number {
    color: color(pre);
    font-weight: bolder;
    font-size: 20px;
    font-family: "Poppins" !important;
}
%sec-heading {
    color: color(six);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    padding: 0 !important ;
    font-weight: 800; 
}

/*---class to extend--*/


/*--media query--*/


@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$mobile}) {
        @content;
    }
}

@mixin iphon-x {
    @media (max-width:#{$iphon-x}) {
        @content;
    }
}

@mixin achievements {
    @media  (max-width: #{$max}) {
        @content;
    }
    
}


/*--media query--*/




.wrapper {

    /*---------------  header section  --------------*/
    @import "header";

    /*---------------  navigation  --------------- */ 

    @import "navigation";

    

    .content {
    position: $abs;
    width: $every;
    margin-top: $thing;
    /*---------------  about section starts  --------------- */
        @import "about";

        /*------------services section starts------------*/
        @import "services";

         /*------------achievements section starts------------*/

        @import "achievements";

        /*----------- our team section starts ------- */

        @import "team";

        /*--------------- subscribe section starts  --------------- */
    

        @import "subscribe";


        /*--------------- contact section starts here --------------- */
        

        @import "contact";

        /*------------ footer section starts here-----------*/

        @import "Footer";

  

    }
}

      
    
 