@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap");
html, body {
  cursor: url(../img/cursor.png), auto !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Darker Grotesque" !important;
  text-decoration: none;
}

section {
  padding: 140px 0;
}

/*--Fichier to import--*/
/*---colors---*/
/*---variables---*/
/*--Fichier to import--*/
/*---class to extend--*/
.wrapper .header #btn, .wrapper .content .about .row .more button, .wrapper .content .contact .container-contact .row #contact-form button {
  background: none;
  border: 0.3pt solid rgba(184, 140, 93, 0.7);
  text-transform: uppercase !important;
  font-size: 16px !important;
  letter-spacing: 2px;
  padding: 18px 36px;
}

.wrapper .nav #nav-resp {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 900;
  color: #d3ae87;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.wrapper .content .container-achivements .project1::after, .wrapper .content .container-achivements .project2::after, .wrapper .content .container-achivements .project3::after {
  font-family: "Roboto Mono" sans-serif;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 4px;
  position: relative;
  color: #fff;
  display: block;
  right: 0;
  bottom: 0;
}

.wrapper .content .about .row .sec-number, .wrapper .content .services .container-serv .row .sec-number, .wrapper .content .team .container-team .sec-number, .wrapper .content .contact .container-contact .row .sec-number {
  color: #d3ae87;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Poppins" !important;
}

.wrapper .content .about .row .sec-heading, .wrapper .content .services .container-serv .row .sec-heading, .wrapper .content .team .container-team .sec-heading, .wrapper .content .contact .container-contact .sec-heading {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
  padding: 0 !important;
  font-weight: 800;
}

/*---class to extend--*/
/*--media query--*/
/*--media query--*/
.wrapper {
  /*---------------  header section  --------------*/
  /*---------------  navigation  --------------- */
  /*---------------  about section starts  --------------- */
}

.wrapper .video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper .video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.8;
}

.wrapper .video-container video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .header h1 {
  color: #d3ae87;
  font-size: 80px !important;
  text-align: center;
}

@media (max-width: 900px) {
  .wrapper .header h1 {
    font-size: 34px !important;
    text-align: center;
  }
}

.wrapper .header #btn {
  color: #d3ae87;
  font-weight: bolder;
  margin-top: 100px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .wrapper .header #btn {
    padding: 10px 20px;
  }
}

.wrapper .nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.wrapper .nav.scrolled {
  background-color: #161616 !important;
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

@media (max-width: 900px) {
  .wrapper .nav #brand {
    margin-left: -20px;
  }
}

.wrapper .nav #brand img {
  float: left;
  display: block;
  margin-left: 50px;
  width: 40px;
  height: 40px;
  top: 20px;
  position: absolute;
}

@media (max-width: 900px) {
  .wrapper .nav #brand img {
    width: 35px;
    height: 35px;
  }
}

.wrapper .nav #menu {
  float: left;
  right: 50px;
  position: fixed;
}

@media (max-width: 900px) {
  .wrapper .nav #menu {
    display: none;
  }
}

.wrapper .nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 80px;
  position: relative;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper .nav #menu li a {
  font-weight: 900;
  color: #9c9c9c;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper .nav #menu li a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper .nav #nav-resp {
  cursor: pointer;
}

@media (max-width: 900px) {
  .wrapper .nav #nav-resp {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    margin-right: 20px;
  }
}

.wrapper #resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

@media (min-width: 900px) {
  .wrapper #resize {
    visibility: hidden !important;
  }
}

.wrapper #resize.active {
  visibility: visible;
  opacity: 1;
}

.wrapper #resize .close-btn {
  position: absolute;
  right: 40px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  line-height: 80px;
  cursor: pointer;
}

.wrapper #resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

.wrapper #resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper #resize #menu li:nth-child(1) {
  margin-top: 140px;
}

.wrapper #resize #menu li a {
  font-size: 15px;
  font-family: "Poppins" !important;
  font-weight: lighter !important;
  color: #9c9c9c;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper #resize #menu li a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper .content {
  position: absolute;
  width: 100%;
  margin-top: 100vh;
  /*------------services section starts------------*/
  /*------------achievements section starts------------*/
  /*----------- our team section starts ------- */
  /*--------------- newsletter section starts  --------------- */
  /*--------------- contact section starts here --------------- */
}

@media (max-width: 767px) {
  .wrapper .content .about .container-about {
    text-align: center;
    margin-left: 20px;
  }
}

.wrapper .content .about .row {
  width: 100%;
}

@media (max-width: 767px) {
  .wrapper .content .about .row .sec-heading {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 24px;
  }
}

.wrapper .content .about .row .sec-sub {
  color: grey;
  margin: 10px 0 10px 10px;
}

@media (max-width: 767px) {
  .wrapper .content .about .row .sec-sub h1 {
    font-size: 30px;
    margin: 20px 20px;
  }
}

.wrapper .content .about .row .sec-sub #W img {
  width: 35px;
  height: 32px;
}

@media (max-width: 767px) {
  .wrapper .content .about .row .sec-sub #W img {
    width: 25px;
    height: 25px;
  }
}

.wrapper .content .about .row .sec-support {
  font-size: 24px;
  color: grey;
  margin-left: 12px;
}

@media (max-width: 767px) {
  .wrapper .content .about .row .sec-support {
    font-size: 20px;
    margin: 0 60px;
  }
}

.wrapper .content .about .row .more {
  margin: 40px 0;
  padding: 0 !important;
}

.wrapper .content .about .row .more button {
  margin-left: 18px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .wrapper .content .about .row .more button {
    margin-right: 18px;
    padding: 10px 50px;
  }
}

.wrapper .content .services {
  background: #161616;
}

@media (max-width: 767px) {
  .wrapper .content .services .container-serv {
    text-align: center;
  }
}

.wrapper .content .services .container-serv .row {
  width: 100%;
}

@media (max-width: 767px) {
  .wrapper .content .services .container-serv .row .sec-number {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .wrapper .content .services .container-serv .row .sec-heading {
    font-weight: 600;
    margin: 30px 0 30px 40px;
  }
}

.wrapper .content .services .container-serv .row .icon ion-icon {
  font-size: 36px;
  color: #d3ae87;
}

@media (max-width: 767px) {
  .wrapper .content .services .container-serv .row .icon ion-icon {
    margin-top: 40px;
  }
}

.wrapper .content .services .container-serv .row .icon-title {
  font-size: 28px;
  margin-bottom: 4px;
  color: #b6b6b6;
  font-weight: lighter;
  margin: 10px 0;
  font-weight: 400;
}

.wrapper .content .services .container-serv .partie-1 {
  margin: 30px 30px 20px 0;
}

.wrapper .content .services .container-serv .partie-2 {
  margin: 30px 30px 20px 0;
}

.wrapper .content .services .container-serv .to-left {
  margin-right: -30px;
}

.wrapper .content .container-achivements {
  background-color: #161616;
  width: 100%;
  overflow-x: hidden;
}

.wrapper .content .container-achivements #achiev {
  text-align: center;
  text-transform: uppercase;
  color: #d3ae87;
  font-family: "Roboto Mono" sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .wrapper .content .container-achivements #achiev {
    font-size: 30px;
    letter-spacing: 2px;
  }
}

.wrapper .content .container-achivements .vertical {
  margin-top: 40px;
  border-left: 2px solid;
  height: 80px;
  position: absolute;
  left: 50%;
  color: #d3ae87;
}

.wrapper .content .container-achivements .space {
  width: 100%;
  height: 100px;
}

.wrapper .content .container-achivements .projects {
  height: 300px;
  right: -15px;
}

@media (max-width: 992px) {
  .wrapper .content .container-achivements .projects {
    width: 100%;
  }
}

.wrapper .content .container-achivements .project1 {
  background: url(../img/creativity.png) no-repeat 50% 50%;
  background-size: cover;
}

.wrapper .content .container-achivements .project1::after {
  content: "Creativity .";
  top: 8%;
  left: -18%;
}

@media (max-width: 992px) {
  .wrapper .content .container-achivements .project1::after {
    display: none;
  }
}

.wrapper .content .container-achivements .project2 {
  background: url(../img/kh.png) no-repeat 50% 50%;
  background-size: cover;
}

.wrapper .content .container-achivements .project2::after {
  content: "foretime .";
  top: 39%;
  left: 98%;
}

@media (max-width: 992px) {
  .wrapper .content .container-achivements .project2::after {
    display: none;
  }
}

.wrapper .content .container-achivements .project3 {
  background: url(../img/inoovation.png) no-repeat 50% 50%;
  background-size: cover;
}

.wrapper .content .container-achivements .project3::after {
  content: "Innovation .";
  top: 65%;
  left: -18%;
}

@media (max-width: 992px) {
  .wrapper .content .container-achivements .project3::after {
    display: none;
  }
}

.wrapper .content .team {
  overflow: hidden;
}

.wrapper .content .team .container-team {
  margin-top: 100px;
  margin-bottom: 150px;
}

@media (max-width: 900px) {
  .wrapper .content .team .container-team {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .wrapper .content .team .container-team {
    height: 1500px;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .wrapper .content .team .container-team .sec-heading {
    margin-top: 30px;
  }
}

.wrapper .content .team .container-team .members {
  margin: 50px 0;
  height: 500px;
}

.wrapper .content .team .container-team .team-member {
  overflow: hidden;
}

.wrapper .content .team .container-team .team-img {
  height: 499px;
  position: relative;
}

@media (max-width: 767px) {
  .wrapper .content .team .container-team .team-img {
    margin: 0 30px;
  }
}

.wrapper .content .team .container-team .team-one {
  background: url(../img/CEO.png) no-repeat 50% 50%;
  background-size: cover;
}

.wrapper .content .team .container-team .team-two {
  background: url(../img/Co-founder.png) no-repeat 50% 50%;
  background-size: cover;
}

.wrapper .content .team .container-team .team-title {
  text-align: center;
  font-family: 'Roboto mono' sans-serif;
  font-size: 700;
}

.wrapper .content .team .container-team h5 {
  font-size: 38px;
  letter-spacing: 2px;
}

.wrapper .content .team .container-team span {
  font-size: 20px;
  font-weight: bolder;
}

.wrapper .content .team .container-team .clss-paddi {
  padding: 0;
}

@media (max-width: 900px) {
  .wrapper .content .team .container-team .clss-paddi {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.wrapper .content .subscribe {
  background: #161616;
  overflow: hidden;
}

.wrapper .content .subscribe .subscribe-data {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.wrapper .content .subscribe .subscribe-data .sec-heading h1 {
  color: #fff;
  margin-bottom: 40px;
}

.wrapper .content .subscribe .input-subsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .wrapper .content .subscribe .input-subsc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .content .subscribe .input-subsc .input-form {
  text-transform: uppercase;
  height: 50px;
  border-color: #fff;
  border-radius: 0 !important;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 0px;
}

.wrapper .content .subscribe .input-subsc .input-form:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

@media (max-width: 767px) {
  .wrapper .content .subscribe .input-subsc .input-form {
    margin: 0 50px;
  }
}

.wrapper .content .subscribe .input-subsc ::-webkit-input-placeholder {
  letter-spacing: 4px;
  padding: 5px 10px;
}

.wrapper .content .subscribe .input-subsc :-ms-input-placeholder {
  letter-spacing: 4px;
  padding: 5px 10px;
}

.wrapper .content .subscribe .input-subsc ::-ms-input-placeholder {
  letter-spacing: 4px;
  padding: 5px 10px;
}

.wrapper .content .subscribe .input-subsc ::placeholder {
  letter-spacing: 4px;
  padding: 5px 10px;
}

.wrapper .content .subscribe .input-subsc span .btn {
  min-height: 50px;
  padding: 0 30px;
  border-radius: 0;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Poppins' sans-serif;
  letter-spacing: 2px;
}

.wrapper .content .subscribe .input-subsc span .btn:hover {
  opacity: 0.1;
}

.wrapper .content .contact {
  overflow: hidden;
}

@media (max-width: 767px) {
  .wrapper .content .contact .container-contact {
    text-align: center;
    margin: 0 20px;
  }
}

.wrapper .content .contact .container-contact .sec-heading {
  font-weight: bolder;
}

@media (max-width: 767px) {
  .wrapper .content .contact .container-contact .sec-heading {
    margin-top: 30px;
  }
}

.wrapper .content .contact .container-contact .row .text-title {
  margin: 30px 0;
  color: #000;
  font-size: 20px;
  font-family: "Roboto Mono"sans-serif;
  font-weight: bold;
}

.wrapper .content .contact .container-contact .row #contact-form ul {
  list-style: none;
  margin-bottom: 40px;
  border-radius: 0;
}

.wrapper .content .contact .container-contact .row #contact-form li:last-of-type {
  border-bottom: none;
}

.wrapper .content .contact .container-contact .row #contact-form label {
  display: block;
  font-size: 22px;
  color: #616161;
}

.wrapper .content .contact .container-contact .row #contact-form input, .wrapper .content .contact .container-contact .row #contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #101010;
  font-weight: bolder;
}

.wrapper .content .contact .container-contact .row #contact-form input:focus, .wrapper .content .contact .container-contact .row #contact-form textarea:focus {
  outline: none !important;
  border: none !important;
}

.wrapper .content .contact .container-contact .row #contact-form .text-area {
  border-bottom: 1px solid #c9c9c9;
}

.wrapper .content .contact .container-contact .row #contact-form button {
  font-weight: bolder;
}

@media (max-width: 767px) {
  .wrapper .content .contact .container-contact .row #contact-form button {
    padding: 10px 30px;
  }
}
/*# sourceMappingURL=main.css.map */